<div class="whole-part">
  <div class="container">
    <div class="user-input-clmn">
      <div class="user-input" >
        <textarea placeholder="'Highest loaded streets in Almaty'"
                  [(ngModel)]="userInput"></textarea>
      </div>
      <div class="button-container">
        <button  class="try-it" (click)="answer()"> OK</button>
      </div>
    </div>

    <div class="output-column">
        <textarea readonly class="output-text"
        placeholder="OUTPUT">
        </textarea>
    </div>
  </div>
</div>
