
<div class="whole-part">
  <div class="container">
    <div class="user-input-clmn">
      <div class="user-input" >
        <textarea placeholder="'Highest loaded streets in Almaty'"
                  [(ngModel)]="userInput" id="text"></textarea>
      </div>
      <div class="button-container">
        <button  class="try-it" id='btn'> OK</button>
      </div>
    </div>

    <div class="output-column">
        <textarea  class="output-text"
        placeholder="OUTPUT" id="output">
        </textarea>
    </div>
  </div>
</div>

