<div class="whole-part">
  <div class="container">
    <div class="description-clmn">
      <div class="description-clmn-container">
        <div class="title">
          <h1>Unlock the Road to Smooth Commutes</h1>
        </div>
        <div class="description">
          <p>
            Traffic Jam AI is an innovative solution designed to tackle the frustrating problem
            of traffic congestion. Using cutting-edge artificial intelligence algorithms, Traffic Jam
            AI provides intelligent routing and real-time traffic management to help drivers navigate
            through congested roads with ease.
          </p>
          <p>Your Road to Easy Traffic Solutions Starts now!</p>
        </div>
        <div class="button-container">
          <a routerLink="/ai" class="try-it"> Try!</a>
        </div>
      </div>
    </div>
    <div class="gif-container">
        <img src="https://cdn.dribbble.com/users/1129235/screenshots/10486820/media/9d20f2b98d630774ede0e8f523c98b69.gif">
    </div>
  </div>
</div>
