.whole-part{
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0px 20px 0px 20px
}
.container{
  display: flex;
  margin-right: auto;
  margin-left: 99px;
  position: relative;
}
.description-clmn{
  width: 38%;

}
.description-clmn-container{
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
}
.title h1{
  color:#08143E;
  font-weight:700;
  padding: 0;
  margin: 0;
  font-size: 60px;
}
.title{
  margin-bottom: 20px
}

.description{
  margin-bottom: 30px;
}
.description p{
  font-weight: 400;
  color:#08143E;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0.9rem;
  text-align: left;
}
.try-it {
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius:0.75rem;
  background-color:#FF3E87;
  color:#ffffff;
  font-size:20px;
  text-decoration: none;
}
.gif-container{
  width:60%;
}
.gif-container img{
  width: 602px;
  height:400px;
}
